@import "custom.variables";

#navbar {
  ul {
    li {
      padding: 3px;

      a {
        cursor: pointer;
        font-size: 1rem;
        @media (min-width: map-get($grid-breakpoints, "md")) {
            font-size: 1.1rem;
          }
        @media (min-width: map-get($grid-breakpoints, "lg")) {
          font-size: 1.2rem;
        }
      }

      li:hover {
        background-color: $mainFontColor;

        a {
          color: $alterFontColor;
        }

      }
    }
  }
}
