<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="my-3 h2 text-center my-4">Наши контакты</div>
      <div class="mt-2">
        <ul>
          <li><i class="icon-mobile"></i><a href="tel:+375 {{phoneNumber}}">+375{{phoneNumber | phoneBY}}</a></li>
          <li><i class="icon-mail"></i><a href="mailto:forestdecor2020@gmail.com">forestdecor2020@gmail.com</a></li>
          <li><i class="icon-skype"></i><a href="skype:">Skype</a></li>
          <li><i class="icon-facebook"></i><a href="#">Facebook</a></li>
          <li><i class="icon-telegram"></i><a href="#">Telegram</a></li>
          <li><i class="icon-vkontakte"></i><a href="#">Контакт</a></li>
          <li><i class="icon-instagram"></i><a href="#">Instagram</a></li>
          <li><i class="icon-whatsapp"></i><a href="#">Whatsapp</a></li>
          <li><i class="icon-twitter"></i><a href="#">Twitter</a></li>
          <li><i class="icon-odnoklassniki"></i><a href="#">Одноклассники</a></li>

        </ul>
      </div>
    </div>
  </div>
</div>
