<div class="container">
  <div class="row card-group">
    <div class="my-1" [ngClass]="{
          'col-sm-12': catalogNavigation.status,
          'col-md-6': catalogNavigation.status,
          'col-lg-4': catalogNavigation.status,
          'col-xl-3': catalogNavigation.status,
          'col-sm-6': !catalogNavigation.status,
          'col-md-4': !catalogNavigation.status,
          'col-lg-3': !catalogNavigation.status,
          'col-xl-2': !catalogNavigation.status}"
         *ngFor="let product of curProductData">
      <mat-card routerLink="/catalog/{{product.urlName}}">
        <mat-card-header>
          <mat-card-title style="font-size: 1rem">{{product.name}}</mat-card-title>
          <!--        <mat-card-subtitle>Dog Breed</mat-card-subtitle>-->
        </mat-card-header>
        <img mat-card-image src="{{product.img}}" alt="Картинка: {{product.name}}">
        <mat-card-content>
          <p class="small">
            {{product.description | dot : 70}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button
                  class="mx-auto"
                  [disabled]="!product.photos.length"
                  (click)="needPhotos(product.photos); $event.stopPropagation()">
            <span *ngIf="!!product.photos.length; else noPhoto"><i class="icon-camera mr-1"></i>Посмотреть</span>
            <ng-template #noPhoto>Нет фотографий</ng-template>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
