<div class="container">
  <div class="row card-group">
    <div class="my-1" [ngClass]="{
          'col-sm-12': catalogNavigation.status,
          'col-md-6': catalogNavigation.status,
          'col-lg-4': catalogNavigation.status,
          'col-xl-3': catalogNavigation.status,
          'col-sm-6': !catalogNavigation.status,
          'col-md-4': !catalogNavigation.status,
          'col-lg-3': !catalogNavigation.status,
          'col-xl-2': !catalogNavigation.status}"
         *ngFor="let product of curProductData">
      <mat-card routerLink="/catalog/{{product.urlName}}">
        <mat-card-header>
          <mat-card-title style="font-size: 1rem">{{product.name}}</mat-card-title>
          <!--        <mat-card-subtitle>Dog Breed</mat-card-subtitle>-->
        </mat-card-header>
        <img mat-card-image src="{{product.img}}" alt="Картинка: {{product.name}}">
        <mat-card-content>
          <p class="small">
            {{product.description | dot : 70}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <app-button-show [product]="product"></app-button-show>
          <app-button-edit></app-button-edit>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
