<div class="container">
  <div class="row">
    <div class="col-sm-12">

      <div class="delete-header my-2 p-3 w-100 rounded">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="closeWindow()">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="h4 mr-4">Редактирование фотографий:</div>
        <div class="h6">выбрано {{selectedIndex.length}} фото</div>
        <div>
          <button type="button" class="btn btn-danger mr-4 my-2" (click)="deleteSelected()">Удалить</button>
          <button type="button" class="btn btn-dark my-2" (click)="selectedIndex = []">Отмена</button>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6 col-md-4 col-lg-3 my-1" *ngFor="let photoUrl of photosUrls; let i = index">
          <div class="card {{selectedIndex.indexOf(i) === -1 ? '' : 'text-white bg-danger'}}" (click)="clickONPhoto(i)">
            <div class="card-header">
              {{selectedIndex.indexOf(i) === -1 ? 'Не выбрано' : 'Выбрано'}}
            </div>
            <img [src]="photoUrl"
                 class="card-img-top img-fluid p-1"
                 alt="...">
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<app-button-go-top [heightOfShow]="700"></app-button-go-top>
