<h3 class="card-title text-center">{{isRecovery ? 'Восстановление пароля' : 'Авторизация'}}</h3>

<form (ngSubmit)="onAuthSubmit(authForm)" #authForm="ngForm">

  <label class="sr-only" for="authorEmail">Email</label>
  <small id="authorEmailHelpBlock" class="form-text text-muted">
    Введите Email
  </small>
  <div class="input-group mb-2">
    <div class="input-group-prepend">
      <div class="input-group-text"><i class="icon-at"></i></div>
    </div>
    <input type="email"
           ngModel
           email
           name="authEmail"
           class="form-control"
           id="authorEmail"
           placeholder="Email"
           required
           aria-describedby="authorEmailHelpBlock">
  </div>

  <label class="sr-only" for="authorPswd">Password</label>
  <small id="authorPswdHelpBlock" class="form-text text-muted">
    Введите пароль (минимум 6 символов)
  </small>
  <input type="password"
         ngModel
         name="authPsw"
         class="form-control mb-2"
         id="authorPswd"
         placeholder="Пароль"
         minlength="6"
         [disabled]="isRecovery"
         required
         aria-describedby="authorPswdHelpBlock">

  <div class="custom-control custom-checkbox form-check-inline mt-1">
    <input class="custom-control-input"
           #recovery
           type="checkbox"
           (click)="onClickRecovery()"
           id="recovery-pswd">
    <label class="custom-control-label small" for="recovery-pswd">
      Вспомнить пароль
    </label>
  </div>
  <hr/>

<!--  <div class="place-for-alert-auth"></div>-->

  <button type="submit"
          [disabled]="authForm.invalid"
          [ngClass]="{ 'btn-danger': authForm.invalid,
                       'btn-success': !authForm.invalid }"
          class="btn mt-3">
<!--    <span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>-->
    Отправить данные
  </button>

  <button type="button" class="btn btn-primary mt-3 ml-2" (click)="authForm.resetForm()"> Очистить данные </button>

</form>
