@import "custom.variables";

:host {

  .control-messages {
    input, label {
      cursor: pointer;
    }


    position: fixed;
    top: 97px;
    right: 30px;
    font-size: 0.6rem;
    z-index: 1111;
    @media (min-width: map-get($grid-breakpoints, "sm")) {
      font-size: 0.7rem;
    }
    @media (min-width: map-get($grid-breakpoints, "sm")) {
      right: 15%;
      font-size: 0.85rem;
    }
    @media (min-width: map-get($grid-breakpoints, "md")) {
      right: 13%;
      font-size: 1rem;
    }
    @media (min-width: map-get($grid-breakpoints, "lg")) {
      right: 11%;
      font-size: 1.1rem;
    }
    @media (min-width: map-get($grid-breakpoints, "xl")) {
      right: 15.5%;
      font-size: 1.2rem;
    }

    span {
      margin-right: 5px;
      margin-left: 2px;
    }

    button {
      background-color: transparent;
    }

    i {
      font-size: 1.1rem;
      @media (min-width: map-get($grid-breakpoints, "md")) {
        font-size: 1.3rem;
      }

    }

    i.icon-trash-1 {
      color: $red;
      padding: 0;
      cursor: pointer;
    }

    i.icon-back {
      color: $green;
      padding: 0;
      cursor: pointer;
    }

    i.icon-spin3 {
      //padding: 2px;
    }

    //i.icon-spin3:hover {
    //  border: 1px solid $alterFontColor;
    //  border-radius: 4px;
    //  padding: 1px;
    //}

    i.icon-spin3:active {

    }

    i.disabled {
      opacity: 0;
      pointer-events: none;
    }


  }

}
