<div class="control-messages">
  <div class="list-group list-group-horizontal-sm">
    <form [formGroup]="messageNav">
      <input type="radio" formControlName="categorie" value="new" id="new"><label for="new"><span>Новые</span></label>
      <input type="radio" formControlName="categorie" value="readed" id="readed"><label
      for="readed"><span>Прочитанные</span></label>
      <input type="radio" formControlName="categorie" value="deleted" id="deleted"><label
      for="deleted"><span>Корзина</span></label>
      <i class="icon-spin3 ml-2" [ngClass]="{'animate-spin': serverWork$ | async}"></i>
      <input type="checkbox" #selectAll (click)="selectAllMessages($event)" class="ml-2">
      <i class="icon-trash-1 mb-1 ml-1" (click)="deleteAllChecked()"></i>
      <i class="icon-back mb-1 ml-1 {{messageNav.value.categorie !== 'deleted' ? 'disabled' : ''}}"
         (click)="recoveryAllChecked()"></i>
    </form>
    <!--        <p>Form value: {{ messageNav.value | json }}</p>  &lt;!&ndash; {food: 'lamb' } &ndash;&gt;-->
  </div>
</div>
