@import "custom.variables";

:host {
  .nav1 {
    a {
      cursor: pointer;
    }

    .btn-nav {
      color: $backGrey;
      //color: $mainFontColor;

    }

    .btn-nav.active {
      color: $mainFontColor;
      //color: yellow;
    }

    .dropdown, .dropleft {
      margin-top: -7px;
      margin-bottom: -8px;
      opacity: 0.9;
      outline: none;
      button {
        background-color: transparent;
        border: solid transparent;
        color: $mainFontColor;
      }
      button:active, button:focus {
        outline: none;
        border: solid transparent;
        color: yellow;
      }
      button:hover {
        background-color: $additFontColor;
      }
      .dropdown-menu {
        .dropdown-item {
          z-index: 4444;
        }
        a:hover {
          background-color: $blue;
        }
        a.cancel:hover {
          background-color: $red;
        }
      }
    }

    .navbar-brand {
      padding: 5px;

      img {
        height: 40px;
        width: auto;
      }
    }
    .navbar-brand:hover {
      //background-color: $additFontColor;
    }
  }
}
