@import "bootstrap";
@import "custom.variables";

:host {
  .nav1 {
    a {
      cursor: pointer;
    }

    .btn-nav-registration {
      //color: $backGrey;
      color: $mainFontColor;

    }

    .btn-nav-registration.active {
      //color: $mainFontColor;
      color: yellow;
    }

    .navbar-brand {
      padding: 5px;

      img {
        height: 40px;
        width: auto;
      }
    }

    .navbar-brand:hover {
      background-color: $additFontColor;
    }

    .navbar-brand.no-autoriz:hover {
      background-color: $red;
    }
  }
}
