<nav class="nav1 navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container form-inline">

    <a class="navbar-brand home-page-btn"
       routerLink="/"
       [routerLinkActive]="'active'"
       [routerLinkActiveOptions]="{exact: true}"
    >
      <img src="assets/images/oak-sm.png" class="d-inline-block align-top" alt="oak">
    </a>

    <button class="navbar-toggler float-right"
            type="button"
            (click)="collapse = !collapse"
            data-target="#navbar">
      <span class="navbar-toggler-icon"></span>
    </button>

    <app-navigation-link class="navbar-collapse"
                         (needToCollapse)="doCollapse()"
                         [ngClass]="{'collapse': collapse}"
    ></app-navigation-link>

    <a class="navbar-brand btn-nav-registration"
       *ngIf="!authService.isLogged"
       routerLink="/form"
       [routerLinkActive]="'active'"
    >
      <i class="icon-login" style="font-size: 2rem"></i>
    </a>
    <a class="navbar-brand btn-nav-log-out btn-nav-registration"
       *ngIf="authService.isLogged"
       (click)="authService.logout()"
    >
      <i class="icon-logout" style="font-size: 2rem"></i>
    </a>

  </div>
</nav>
