<ng-container *ngIf="!(['form', 'catalog', '404'].includes(curRoute))">
  <div class="container my-4">
    <div class="row">
      <div class="col-sm-12 offset-md-2 col-md-8">

        <form class="p-4" [formGroup]="formContactUs" (ngSubmit)="onSubmit()">
          <div class="text-center mb-3 h4 col-12">Форма обратной связи</div>
          <app-btn-close class="reset-form" *ngIf="formContactUs.dirty" (click)="resetForm()"></app-btn-close>
          <div class="form-row">
            <mat-form-field hintLabel="Мин 2 символа" appearance="fill" class="form-group col-sm-12">
              <mat-label>Представьтесь пожалуйста</mat-label>
              <input matInput
                     type="text"
                     formControlName="name"
                     maxlength="100"
                     placeholder="Имя (Фамилия)">
              <mat-hint align="end" [ngClass]="{'invalid-hint': name.invalid && name.dirty, 'valid-hint': name.valid}">
                {{name.length || 0}}/100
              </mat-hint>
              <app-btn-close (click)="formContactUs.patchValue({name: ''})" matSuffix *ngIf="name.length > 0"></app-btn-close>
            </mat-form-field>
          </div>

          <div class="form-row">
              <div class="text-center my-1 h6 col-sm-12 mb-2">Введите email и(или) телефон</div>
              <mat-form-field appearance="fill" class="form-group col-sm-12 col-md-6">
                <mat-label>Email</mat-label>
                <input matInput
                       type="email"
                       [required]="!phone"
                       formControlName="email"
                       placeholder="pat@example.com">
                <app-btn-close (click)="formContactUs.patchValue({email: ''})" matSuffix *ngIf="email.length > 0"></app-btn-close>
                <mat-error *ngIf="formContactUs.get('email').invalid">{{getErrorMessage()}}</mat-error>
              </mat-form-field>

              <mat-form-field appearance="fill" class="form-group col-sm-12 col-md-6">
                <mat-label>Телефон</mat-label>
                <span matPrefix>+375 &nbsp;</span>
                <input matInput
                       type="tel"
                       formControlName="phone"
                       [value]="phone | phoneBY"
                       placeholder="(33) 555-55-33"
                       maxlength="14">
                <mat-hint align="start">+375 33 5555533</mat-hint>
                <app-btn-close (click)="formContactUs.patchValue({phone: ''})" matSuffix *ngIf="phone.length > 0"></app-btn-close>
              </mat-form-field>
          </div>

          <div class="form-row">
            <mat-form-field appearance="fill" class="example-full-width form-group col-sm-12">
              <mat-label>Оставьте свое сообщение</mat-label>
              <textarea matInput
                        formControlName="message"
                        maxlength="2048"
                        rows="4"></textarea>
              <mat-hint align="start">Не менее 10 символов</mat-hint>
              <mat-hint align="end"
                        [ngClass]="{'invalid-hint': msgState.invalid && msgState.dirty, 'valid-hint': msgState.valid}">
                {{message.length}} / 2048</mat-hint>
              <app-btn-close (click)="formContactUs.patchValue({message: ''})" matSuffix *ngIf="message.length > 0"></app-btn-close>
            </mat-form-field>
          </div>

          <div class="form-row my-1">
            <div class="col-sm-5 col-lg-3 form-group">
              <button type="submit"
                      [disabled]="formContactUs.invalid"
                      mat-raised-button class="h5">Отправить
              </button>
            </div>
            <div class="col-sm-7 col-lg-9 form-group">
              <mat-checkbox formControlName="isRegisterAfter">
                <small>Зарегистрироваться после отправки</small>
              </mat-checkbox>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</ng-container>
