
.icon-heart:before { content: '\e800'; } /* '' */
.icon-home:before { content: '\e801'; } /* '' */
.icon-down-open:before { content: '\e802'; } /* '' */
.icon-left-open:before { content: '\e803'; } /* '' */
.icon-right-open:before { content: '\e804'; } /* '' */
.icon-up-open:before { content: '\e805'; } /* '' */
.icon-phone:before { content: '\e806'; } /* '' */
.icon-user:before { content: '\e807'; } /* '' */
.icon-user-add:before { content: '\e808'; } /* '' */
.icon-heart-empty:before { content: '\e809'; } /* '' */
.icon-search:before { content: '\e80a'; } /* '' */
.icon-user-1:before { content: '\e80b'; } /* '' */
.icon-camera:before { content: '\e80c'; } /* '' */
.icon-eye:before { content: '\e80d'; } /* '' */
.icon-thumbs-up:before { content: '\e80e'; } /* '' */
.icon-thumbs-down:before { content: '\e80f'; } /* '' */
.icon-location:before { content: '\e810'; } /* '' */
.icon-bell:before { content: '\e811'; } /* '' */
.icon-zoom-in:before { content: '\e812'; } /* '' */
.icon-zoom-out:before { content: '\e813'; } /* '' */
.icon-down-circled2:before { content: '\e814'; } /* '' */
.icon-up-circled2:before { content: '\e815'; } /* '' */
.icon-error-alt:before { content: '\e816'; } /* '' */
.icon-login:before { content: '\e817'; } /* '' */
.icon-logout:before { content: '\e818'; } /* '' */
.icon-mail:before { content: '\e819'; } /* '' */
.icon-pencil:before { content: '\e81a'; } /* '' */
.icon-edit:before { content: '\e81b'; } /* '' */
.icon-cancel-circled:before { content: '\e81c'; } /* '' */
.icon-cancel:before { content: '\e81d'; } /* '' */
.icon-cancel-squared:before { content: '\e81e'; } /* '' */
.icon-spin1:before { content: '\e830'; } /* '' */
.icon-spin4:before { content: '\e834'; } /* '' */
.icon-spin5:before { content: '\e838'; } /* '' */
.icon-spin6:before { content: '\e839'; } /* '' */
.icon-login-1:before { content: '\f02c'; } /* '' */
.icon-logout-1:before { content: '\f02d'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-lightbulb:before { content: '\f0eb'; } /* '' */
.icon-bell-alt:before { content: '\f0f3'; } /* '' */
.icon-angle-double-left:before { content: '\f100'; } /* '' */
.icon-angle-double-right:before { content: '\f101'; } /* '' */
.icon-angle-double-up:before { content: '\f102'; } /* '' */
.icon-angle-double-down:before { content: '\f103'; } /* '' */
.icon-mobile:before { content: '\f10b'; } /* '' */
.icon-spinner:before { content: '\f110'; } /* '' */
.icon-attention-alt:before { content: '\f12a'; } /* '' */
.icon-anchor:before { content: '\f13d'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-skype:before { content: '\f17e'; } /* '' */
.icon-vkontakte:before { content: '\f189'; } /* '' */
.icon-right-circled2:before { content: '\f18e'; } /* '' */
.icon-left-circled2:before { content: '\f190'; } /* '' */
.icon-bell-off:before { content: '\f1f6'; } /* '' */
.icon-bell-off-empty:before { content: '\f1f7'; } /* '' */
.icon-trash-1:before { content: '\f1f8'; } /* '' */
.icon-copyright:before { content: '\f1f9'; } /* '' */
.icon-at:before { content: '\f1fa'; } /* '' */
.icon-whatsapp:before { content: '\f232'; } /* '' */
.icon-server:before { content: '\f233'; } /* '' */
.icon-user-plus:before { content: '\f234'; } /* '' */
.icon-user-times:before { content: '\f235'; } /* '' */
.icon-shopping-basket:before { content: '\f291'; } /* '' */