<h5 class="text-right text-sm-center my-5 py-2 mr-3">
  <a href="mailto:salimov_s@tut.by">powered by Angular</a><i class="icon-copyright">, 2020</i>
</h5>
<div class="contacts">
  <ul>
    <li><small><i class="icon-mobile"></i><a href="tel:+375 {{phoneNumber}}">+375{{phoneNumber | phoneBY}}</a></small></li>
    <li><small><i class="icon-mail"></i><a href="mailto:forestdecor2020@gmail.com">forestdecor2020@gmail.com</a></small></li>
    <li><small><i class="icon-skype"></i><a href="skype">Skype</a></small></li>
  </ul>
</div>
