<ul class="list-group list-group-horizontal-sm mb-3 form-row sticky-top">
  <li class="list-group-item col-sm-12 col-md-6">
    <form [formGroup]="messageNavigation">
      <input type="radio" formControlName="categorie" value="all" ><span> All</span>
      <input type="radio" formControlName="categorie" value="new"><span> New</span>
      <input type="radio" formControlName="categorie" value="readed"><span> Readed</span>
      <input type="radio" formControlName="categorie" value="deleted"><span> Deleted</span>
      <hr>
      <input type="checkbox" [formControl]="selectAll">
    </form>

<!--    <p>Form value: {{ form.value | json }}</p>  &lt;!&ndash; {food: 'lamb' } &ndash;&gt;-->

  </li>

  <li class="list-group-item ol-sm-12 col-md-6">

  </li>
</ul>
