//@-webkit-keyframes NAME-YOUR-ANIMATION {
//  0%   { transform: rotateY(90deg); }
//  50% { transform: rotateY(-90deg); }
//}
//@-moz-keyframes NAME-YOUR-ANIMATION {
//  0%   { transform: rotateY(90deg); }
//  50% { transform: rotateY(-90deg); }
//}
//@-o-keyframes NAME-YOUR-ANIMATION {
//  0%   { transform: rotateY(90deg); }
//  50% { transform: rotateY(-90deg); }
//}
//@keyframes NAME-YOUR-ANIMATION {
//  0%   { transform: rotateY(90deg); }
//  50% { transform: rotateY(-90deg); }
//}
//
//.card:hover {
//  -webkit-animation: NAME-YOUR-ANIMATION 1000ms; /* Safari 4+ */
//  -moz-animation:    NAME-YOUR-ANIMATION 1000ms; /* Fx 5+ */
//  -o-animation:      NAME-YOUR-ANIMATION 1000ms; /* Opera 12+ */
//  animation:         NAME-YOUR-ANIMATION 1000ms; /* IE 10+, Fx 29+ */
//}
//
