<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h2 class="my-3 text-center">Добро пожаловать на сайт-витрину.</h2>
      <p>Здесь вы можете просмотреть товары из нашего каталога, ознакомиться с фотографиями, узнать о способах их
        доставки. Товары, на которые имеются фотографии, помечены значком фото и кнопкой "Посмотреть", если же
        фотографий у данного товара нет, то у него будет надпись "Нет фотографий".</p>
      <p>Также вы можете связаться с нами через форму обратной связи, оставить свои вопросы и (или) пожелания, либо
        позвонив по указанным телефонам. Все возможные способы связаться с нами по-мимо формы обратной связя указаны в
        разделе "Контакты". Если вас интересует доставка наших товаров, то ознакомиться с доступными способами, можно в
        категории "Доставка".</p>
      <p>Обращаем Ваше внимание: данный сайт служит для презентации и рекламы товаров и <b>не является</b>
        сайтом-магазином.</p>
    </div>
  </div>
</div>
