<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h2 class="my-3 text-center">Добро пожаловать на сайт-витрину.</h2>
      <p>Здесь вы можете просмотреть товары из нашего каталога, узнать о способах их оплаты и доставки. А
        также вы можете связаться с нами через форму обратной связи, либо позвонив по указанным телефонам. </p>
      <p>Другие способы связаться с нами указаны в разделе "Контакты"</p>
      <p>Обращаем Ваше внимание: данный сайт служит для презентации и рекламы товаров и <b>не является</b>
        сайтом-магазином.</p>
    </div>
  </div>
</div>
