@import "custom.variables";
:host {
  .button-add {
    padding: 1.5px;
    top: 3px;
    height: 37px;
    color: $additFontColor;
    cursor: pointer;
    i, span {
      cursor: pointer;
    }
  }
  .button-add:hover {
    background-color: rgba($additFontColor, .07);
  }
  .button-add:active {
    padding: 0;
    border: $alterFontColor solid 1.5px;
    border-radius: 4px;
  }



  input[type=file] {
    display: none;
  }

}
