@import "bootstrap";
@import "custom.variables";

:host {
  margin-top: -16px;
  background-image: url("/assets/images/wall.jpg");
  background-repeat: repeat;
  //height: 600px;
  display: block;

  #catalog-navigation {
    font-weight: bolder;
    li {
      cursor: pointer;
    }

    #btn-catalog.active {
      background-color: $blue;
      color: $mainFontColor;
    }
  }



  .list-group {
    details {
      li::before {
        content: "» ";
      }

    }

    .alert {
      font-size: 1.1rem;
    }

    font-size: 0.8rem;
  }

}
