@import "bootstrap";
@import "custom.variables";

:host {
  margin-top: -16px;
  background-image: url("/assets/images/wall.jpg");
  background-repeat: repeat;
  //height: 600px;
  display: block;
  position: relative;

  button {
    position: absolute;
    background: $backGrey;
    font-size: 1.2rem;
    left: 0;
    top: 14px;
    height: 90%;
    opacity: 0.8;
    z-index: 2;


    @media (min-width: map-get($grid-breakpoints, "md")) {
      left: 20px;
      opacity: 1;
    }

  }

  .catalog-navigation {
    font-weight: bolder;
    li {
      cursor: pointer;
    }

    #btn-catalog.active {
      background-color: $blue;
      color: $mainFontColor;
    }
  }



  .list-group {
    details {
      li::before {
        content: "» ";
      }

    }

    .alert {
      font-size: 1.1rem;
    }

    font-size: 0.8rem;
  }

}
