<div class="container">
  <div class="row">

    <div class="list-group list-group-flush col-sm-3 mb-3 ml-3 ml-sm-0 mt-2" id="catalog-navigation">

      <button class="alert alert-success text-left active" id="btn-catalog">
        Каталог
      </button>

      <details>
        <summary class="list-group-item list-group-item-action rounded">Плоды</summary>
        <li class="list-group-item list-group-item-action rounded">Шишки</li>
        <li class="list-group-item list-group-item-action rounded">Желуди</li>
        <li class="list-group-item list-group-item-action rounded">Каштаны</li>
        <li class="list-group-item list-group-item-action rounded">Ягоды</li>

      </details>
      <li class="list-group-item list-group-item-action rounded">Травы</li>
      <li class="list-group-item list-group-item-action rounded">Стружка декоративная древесная</li>
      <li class="list-group-item list-group-item-action rounded">Торцевые спилы дерева</li>
      <li class="list-group-item list-group-item-action rounded">Мох</li>
      <li class="list-group-item list-group-item-action rounded">Грибы</li>
      <li class="list-group-item list-group-item-action rounded">Капы и сувели</li>

    </div>

    <div class="col-sm-9">
      <div class="row card-group" id="product-place">

      </div>
    </div>

  </div>
</div>
