<div class="container clearfix" *ngIf="!(showInCatalog$ | async)">
  <div class="row">

    <button *ngIf="!catalogNavigation.status" (click)="this.catalogNavigation.show()">
      <i class="icon-angle-double-right"></i>
    </button>
    <div class="col-sm-6 col-md-5 col-lg-4 col-xl-3 mt-2 catalog-navigation" *ngIf="catalogNavigation.status">
      <app-catalog-navigation></app-catalog-navigation>
    </div>

    <div class="mt-2" [ngClass]="{
      'col-sm-6': catalogNavigation.status,
      'col-md-7': catalogNavigation.status,
      'col-lg-8': catalogNavigation.status,
      'col-xl-9': catalogNavigation.status,
      'col-12': !catalogNavigation.status }">
      <router-outlet></router-outlet>
    </div>

    <app-button-go-top></app-button-go-top>
  </div>
</div>

<app-progress-bar></app-progress-bar>
<app-carousel *ngIf="(showInCatalog$ | async)?.show === 'carousel'"></app-carousel>
<app-delete-photos *ngIf="(showInCatalog$ | async)?.show === 'delete-photos'"></app-delete-photos>
