<div class="control-messages">
  <div class="list-group list-group-horizontal-sm">
    <form [formGroup]="messageNav">
      <input type="radio" formControlName="categorie" value="all" id="all"><label for="all"><span>Все</span></label>
      <input type="radio" formControlName="categorie" value="new" id="new"><label for="new"><span>Нов</span></label>
      <input type="radio" formControlName="categorie" value="readed" id="readed"><label for="readed"><span>Прочит</span></label>
      <input type="radio" formControlName="categorie" value="deleted" id="deleted"><label for="deleted"><span>Удал</span></label>
      <i class="icon-spin3 ml-2" [ngClass]="{'animate-spin': serverWork}"></i>
      <input type="checkbox" #selectAll (click)="selectAllMessages($event)" class="ml-2">
      <i class="icon-back mb-1 ml-1" *ngIf="messageNav.value.categorie === 'deleted'"></i>
      <i class="icon-trash-1 mb-1 ml-1" (click)="deleteAllChecked()"></i>
    </form>
    <!--        <p>Form value: {{ messageNav.value | json }}</p>  &lt;!&ndash; {food: 'lamb' } &ndash;&gt;-->
  </div>
</div>

<mat-accordion class="example-headers-align">

  <div *ngIf="messages?.length > 0; else noMessages">
    <mat-expansion-panel *ngFor="let message of messages, let i = index"
                         [expanded]="step === i"
                         (opened)="setStep(i, message.id)"
                         hideToggle>

      <mat-expansion-panel-header>
        <input type="checkbox"
               [checked] = message.isChecked
               (click)="$event.stopPropagation(); onCheckMessageCheckbox($event, message.id)">

        <mat-panel-title>
          <mat-icon>{{msgIcon[message.categorie]}}</mat-icon>
        </mat-panel-title>
        <mat-panel-description>
          <mat-icon class="mr-1">date_range</mat-icon>
          <span>{{message.date | date:'от dd MMMM, yyyy в HH:mm':'UTC +3': 'ru' }}</span>
          <span class="ml-3 small">от {{message.name}}, email<{{message.email}}></span>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-card>
        <mat-card-header>
          <div mat-card-avatar>
            <mat-icon>account_circle</mat-icon>
          </div>
          <mat-card-title>Имя: {{message.name}}</mat-card-title>
          <mat-card-subtitle>
            <span>Email: <{{message.email}}>, </span>
            <span>
            <a href="tel:+375{{message.phone}}"><button class="btn btn-sm btn-light"><i class="icon-phone"></i></button></a>
            : +375 {{message.phone | phoneBY}}
          </span>
          </mat-card-subtitle>
        </mat-card-header>
        <hr>
        <mat-card-content>
          <p>{{message.message}}</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button (click)="deleteMessage(message.id)" color="warn">УДАЛИТЬ</button>
        </mat-card-actions>
      </mat-card>

      <mat-action-row>
        <button mat-button color="warn" (click)="prevStep()">Предыдущее</button>
        <button mat-button color="primary" (click)="nextStep()">Следующее</button>
      </mat-action-row>
    </mat-expansion-panel>
  </div>

  <ng-template #noMessages>
    <p class="my-5 h3 text-center">Нет сообщений</p>
  </ng-template>

</mat-accordion>
