<div class="py-2 top-line">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="mobile-number text-center text-sm-left">
          <i class="icon-mobile"><a href="tel:+375 {{phoneNumber}}">+375{{phoneNumber | phoneBY}}</a></i>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 text-center text-sm-right" *ngIf="user$ | async">
        <i class="icon-user"><a>{{(user$ | async).name}}</a></i>
      </div>
    </div>
  </div>
</div>
