$breadcrumb-divider: quote(">");
@import "bootstrap";

@import "custom.variables";

:host {

  .nav2 {
    background-color: $backGrey;
    margin-bottom: -16px;

    .active {
      text-transform: uppercase;
    }
  }
}


