<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="my-3 h2 text-center">Доставка товара</div>
      <p>Алгоритмы действия в случае доставки нашей продукции следующий:</p>
      <ul>
        <li>В первую очередь, если вас что-то заинтересовало свяжитесь с нами через сайт или любым другим удобным для
          вас способом, для того чтобы уточнить ваши пожелания и наличия выбранных вами товаров.
        </li>
        <li>Далее после согласования сроков и объемов доставка происходит следующим способом:
          <ol>
            <li>Если вы находитесь в Гродно, то по
              договоренности возможна доставка, либо вы забираете с нашего склада.
            </li>
            <li>Если необходима отправка по РБ, то через услуги <a href="https://evropochta.by/" target="_blank"><strong>Европочты</strong></a>.
            </li>
            <li>Либо через услуги <a href="https://belpost.by/" target="_blank"><strong>Белпочты</strong></a>.</li>
            <li>Также можно отправить курьерской службой <a href="http://sapex.by/" target="_blank"><strong>SapsanExpress</strong></a>
              или <a href="https://armtek.by/transportnye-uslugi/uslugi-dostavki/" target="_blank"><strong>Армтек</strong></a>.
            </li>
          </ol>
        </li>
      </ul>

    </div>
  </div>
</div>
