<div class="row">
  <div class="col-12">
    <div class="card mt-1 mb-3">
      <div class="card-header h3 pl-5">{{curProduct.name}}</div>
      <div class="card-body row">

        <div class="col-sm-12 col-lg-5 mt-2">
          <img src="{{curProduct.img}}" class="img-fluid" alt="{{curProduct.name}}">
          <h5 class="card-title" [ngClass]="{'pl-5': !catalogNavigation.status}">
            <app-button-show [product]="curProduct"></app-button-show>
            <app-button-add [product]="curProduct"></app-button-add>
            <app-button-delete [product]="curProduct"></app-button-delete>
          </h5>
        </div>

        <div class="col-sm-12 col-lg-7 mt-1">
          <p class="card-text pl-md-2"
             [ngClass]="{'pl-4': !catalogNavigation.status}">
            {{curProduct.description}}
          </p>
        </div>

      </div>
      <div class="card-footer">
        <button class="btn btn-link btn-sm m-1 " (click)="goBack(curProduct.urlName)">Назад</button>
        <button class="btn btn-link btn-sm m-1" (click)="goBack(curProduct.urlName, true)">Наверх</button>
        <button class="btn btn-link btn-sm m-1" [routerLink]="['/catalog','all']">Все</button>
      </div>

    </div>
  </div>
</div>
